.about-text-justified {
  text-align: justify;
}

.about-content {
    margin: 20px 0px;
}

.right-content-content-deep {
	
    margin-bottom: 20px;

	color: #333333;
}

.feature-about-deepmachine {
    background: #F1F1F1;
    padding: 50px 0px;
}

.content-memberships-deepmachine {
    color: #ccc;
}
.content-about-deepmachine {
	color: #333333;
}

.idea1-div {
    background: #333333;
    padding-bottom: 150px;
    padding-top: 65px;
}

.idea2-div {
    background: #F1F1F1;
    padding-bottom: 150px;
    padding-top: 65px;
}

.list-content-about-deep {
    font-size: 13px;
}

.margin-deep {
    margin-bottom: 20px;
}

.margin-ic-memberships {
    margin-bottom: 35px;
    margin-top: 20px;
}

.content-binary-deepmachine {
    color: #333333;
}

.margin-text-memberships {
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 30px;
}

.content-about-deepmachine-grey {
    color: #333333;
}

.p-membership-bold {
    font-weight: 500;
    margin-bottom: 30px;
}

.color-questions-deepmachine h2 {
    color: #333333;
}

.deppmachine-binary-content {
    background: #333333;

}

.background-binary-content {
    background: #F1F1F1;
    padding-bottom: 150px;
    padding-top: 65px;
}


.idea3-div {
    background: #F1F1F1;
    padding-top: 35px;
}

.margin-text-tools {
    margin-bottom: 30px;
}

.image-width-ic {
    width: 75px;
}

.icon-index1dm {
    width: 90px;
    display: inline-block;
    margin-bottom: 25px;
    margin-right: 12px;
}

.icon-index2dm {
    width: 90px;
    display: inline-block;
    margin-bottom: 25px;
}

.border-green {
    border-color: #699558;
}

.color-phone-machine {
        color: #fff;
}

.contactform-margintop {
    margin-top: 75px;
    margin-bottom: 50px;
    font-size: 35px;
    font-weight: 400;
}

.button2-contactform {
    background: #699558;
}

.ic-phone-contactform {
    margin-right: 10px;
}

.margin-contact-phonenumber {
    margin-top: 15px;
    margin-left: 179px;
}

.margin-contact-text {
    margin-top: 60px;
    color: #ffffff;
}

.margin-contact-text2 {
    margin-top: 24px;
    margin-left: 205px;
    color: #ffffff;
}

.content-landing-textbinary{
    margin: 85px 50px;
    color: #333333;
}

.margin-bottom-titlebinary{
    margin-bottom: 45px;
}
.p-land-font-weight {
    font-weight: 400;
}

.section-title2 {
    padding: 0px 0px;
}

.margin-top-contactform {
    margin-top: 63px;
}


.content-slide-background {
    min-height: 250px;
    /* padding: 15px; */
    margin-right: auto;
    margin-left: auto;
    /* padding-left: 15px; */
    /* padding-right: 15px; */
}

.color-deepmachine {
     color: #fff;
}

.marginimage-deepmachine {
     margin-top: 45px;
}