<!-- <div id="footer">
    <div class="inner">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="list-inline pull-right">
                        <li><a href="#help"><%= translate("help") %></a></li>
                    </ul>
                    <ul class="list-inline">
                        <li id="wtfMae">&copy; 2016 <span><%= translate("ioFun") %></span>, Inc.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div> -->

<div class="footer-container">
    <footer class="bg-primary short-2">
        <!-- <div class="container"> -->
            <div class="row">
                <div class="col-sm-12 negative-margin-left">
                    <span class="text-white"><strong>Deep Machine</strong> by <strong>Code Machine</strong>, 2016</span>
                    <span class="text-white font-18"><a href="#contactus">info@deepmachine.io</a></span>
                    <span class="text-white font-18">1-855-861-4975</span>
                </div>
            </div>
            <!--end for row-->
        <!-- </div> -->
        <!--end of container-->
        <div class="contact-action">
            <div class="">
                <i class="icon text-white icon_mail"></i>
                <a href="#contactus" class="text-white"><span class="text-white">Get in touch with us <i class="icon arrow_right"></i></span></a>
            </div>
        </div>
    </footer>
</div>