<div class="nav-container">
    <nav class="top-bar">
        <div class="container">
            <div class="row utility-menu">
                <div class="col-sm-12">
                    <div class="utility-inner clearfix">
                        <a href="tel:18558614975" class="alt-font"><i class="icon icon_phone"></i> 1-855-861-4975  </a>
                        <a href="mailto:info@deepmachine.io" class="alt-font-homemail"><i class="icon icon_mail"></i> info@deepmachine.io</a>
                        <div class="pull-right hide" id="logoutWrapper">
                            <a id="about-login-btn" href="#logout" class="btn btn-primary login-button btn-xs">Logout</a>
                        </div>
                        <div class="pull-right" id="loginSignupWrapper">
                            <a id="about-login-btn" href="#login" class="btn btn-primary login-button btn-xs">Login</a>
                            <a id="about-signup-btn" href="#signup" class="btn btn-primary btn-filled btn-xs">Signup</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row nav-menu">
                <div class="col-sm-3 col-md-2 columns">
                    <a href="#landing">
                        <img class="logo logo-light" alt="Logo" src="/static/img/logo-light.png">
                        <img class="logo logo-dark" alt="Logo" src="/static/img/logo-dark.png">
                    </a>
                </div>

                <div class="col-sm-9 col-md-10 columns">
                    <ul class="menu">
                        <li class=""><a href="#training">Training</a></li>
                        <li class=""><a href="#packages">Educational Packages</a></li>
                        <li class=""><a href="#aboutus">About</a></li>
                        <li class=""><a href="#contactus">Contact</a></li>
                    </ul>
                    <ul class="social-icons text-right">
                        <li>
                            <a href="https://twitter.com/deepmachine_io">
                                <i class="ic-social-menu icon social_twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="ic-social-menu icon social_facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/deep-machine-767288123?trk=hp-identity-name">
                                <i class="ic-social-menu icon social_linkedin"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!--end of row-->
            <div class="mobile-toggle">
                <i class="icon icon_menu"></i>
            </div>
        </div>
        <!--end of container-->
    </nav>
</div>

<!-- <div class="navbar navbar-static-top">

    <div class="container">

        <div class="navbar-header">

            <button type="button" class="navbar-toggle"  data-toggle="collapse" data-target=".bs-navbar-collapse">
                <span class="sr-only"><%= translate("ioFunNavigation") %></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a id="brand-n-stuff" class="navbar-brand" href="#home">
                <%= translate("iofun") %>
            </a>
        </div>

        <div class="collapse navbar-collapse bs-navbar-collapse">
            <div id="fun-nav-landing"></div>
            <div id="fun-nav-dashboard"></div>
            <div id="fun-nav-admin"></div>
        </div>
    </div>
</div>
 -->